* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    height: 75vh;
    width: 100%;
    background-image: linear-gradient(rgba(29, 17, 34, 0.3), rgba(29, 17, 34, 0.3)), url(images/img21.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heading1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 80px;
    color: rgb(255, 255, 255);
    padding-left: 50px;
    padding-top: 50px;
}

.para1 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    width: 150vh;
    padding-left: 100px;
    line-height: 1.8;
    letter-spacing: 1px;
}

#heading2 {
    font-family: 'Roboto Slab', serif;
    padding-left: 70px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 40px;
}


/* menu bar */

.menubar {
    background: rgb(255, 255, 255);
    color: rgb(40, 11, 56);
    display: flex;
    justify-content: space-between;
}

.ul1 {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.mainMenu {
    margin: 0px;
    padding: 0px;
    list-style: none;
    height: 55px;
    padding-top: 10px;
    float: left;
    width: 200px;
    background-color: rgb(255, 255, 255);
    opacity: .9;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}

.mainMenu a {
    text-decoration: none;
    color: black;
    display: block;
}

.mainMenu a:hover {
    height: 55px;
    background-color: rgb(222, 140, 233);
}

.subtitles {
    float: left;
    width: 200px;
    height: 95px;
    background-color: rgb(255, 255, 255);
    opacity: .9;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}

.subtitles a {
    text-decoration: none;
    color: black;
    display: block;
}

.subtitles a:hover {
    background-color: rgb(222, 140, 233);
    height: 95px;
}

.ul1 .mainMenu .ul2 .subtitles {
    display: none;
}

.ul1 .mainMenu:hover .ul2 .subtitles {
    display: block;
}


/* footer */

footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(59, 0, 61);
}

.footer>* {
    flex: 1 100%;
}

.footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.logo {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: rgb(59, 0, 61);
}


/* #footerlogo{
    width: 7.5%;
    padding-left: 10px;
    top: 160%;
    position: absolute;
} */

.heading5 {
    padding-left: 30px;
    padding-top: 0px;
}

.heading6 {
    padding-left: 30px;
}

#heading4 {
    font-weight: 600;
    font-size: 17px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer-right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.footer-right>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: rgb(192, 192, 192);
}

.footer-bottom {
    text-align: center;
    color: rgb(192, 192, 192);
    padding-top: 50px;
}

.footer-left p {
    padding-right: 20%;
    color: rgb(192, 192, 192);
    padding-bottom: 20px;
    padding-top: 20px;
}

.socials a {
    background: #623662;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

.socials a i {
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
}

@media screen and (min-width: 600px) {
    .footer-right>* {
        flex: 1;
    }
    .footer-left {
        flex: 1 0px;
    }
    .footer-right {
        flex: 2 0px;
    }
}