*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{

    height: 75vh;
    width: 100%;
    background-image: url(images/img15.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.heading1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 80px;
    color:rgb(255, 255, 255);
    padding-left: 50px;
    padding-top: 40vh;
}

.paragraph{
    background-color:rgb(255, 243, 225);
}

.heading2{
    font-family: 'Roboto Slab', serif;
    padding-left: 70px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 25px;
    color: rgb(0, 172, 172);
}

.heading3{
    font-family: 'Roboto Slab', serif;
    padding-left: 70px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 40px;
    color: rgb(139, 0, 23);
}

.para1{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    width: 150vh;
    padding-left: 100px;
    text-indent: 100px;
    line-height: 1.8;
    letter-spacing: 1px;
    padding-bottom: 20px;
    
}

.para2{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    width: 150vh;
    padding-left: 100px;
    text-align: center;
    line-height: 1.8;
    letter-spacing: 1px;
    padding-bottom: 20px;
    color: rgb(0, 70, 201);
    
}

.heading4{
    font-family: 'Roboto Slab', serif;
    padding-bottom: 40px;
    padding-top: 20px;
    font-size: 40px;
    color: rgb(223, 0, 0);
    text-align: center;
}



/* menu bar */
.menubar{
    background: rgb(255, 255, 255);
    color: brown;
    display: flex;
    justify-content: space-between;
}
.ul1{
    margin: 0px;
    padding: 0px;
    list-style: none;
   
}
.mainMenu{
    margin: 0px;
    padding: 0px;
    list-style: none;
    height:55px;
    padding-top: 10px;
    float: left;
    width: 200px;
    background-color: rgb(255, 255, 255);
    opacity: .9;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}
.mainMenu a{
    text-decoration: none;
    color: black;
    display: block;
    
}

.mainMenu a:hover{
    height: 55px;
    background-color: rgb(190, 62, 62);
}

.subtitles{
    float: left;
    width: 200px;
    height: 95px;
    background-color: rgb(255, 255, 255);
    opacity: .9;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
} 

.subtitles a{
    text-decoration: none;
    color: black;
    display: block;

}

.subtitles a:hover{
    background-color: rgb(190, 62, 62);
    height: 95px;
}

.ul1 .mainMenu .ul2 .subtitles{
    display: none;
}

.ul1 .mainMenu:hover .ul2 .subtitles {
    display: block;

}



/* footer */

footer{

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(11, 28, 56);
}

.footer > *{
    flex: 1 100%;

}

.footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.logo{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: rgb(11, 28, 56); 
      
}

/* #footerlogo{
    width: 7.5%;
    padding-left: 10px;
    top: 160%;
    position: absolute;
} */


.heading5{
    padding-left: 30px;
    padding-top: 0px;

}

.heading6{
    padding-left: 30px;
}

#heading4{
    font-weight: 600;
    font-size: 17px;
}

.footer ul{
    list-style: none;
    padding-left: 0;
}

.footer li{
    line-height: 2em;
}

.footer a{
    text-decoration: none;
}

.footer-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a{
    color: #999;
}

.footer-bottom{
    text-align: center;
    color: #999;
    padding-top: 50px;

}

.footer-left p{
    padding-right: 20%;
    color: #999;
    padding-bottom: 20px;
    padding-top: 20px;
}

.socials a{
    background: #364a62;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

.socials a i{
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
}

@media screen and (min-width: 600px){
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right{
        flex: 2 0px;
    }
}
